<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>http://7xrwdt.com1.z0.glb.clouddn.com/ec5f7540a5f4c6d4d39a782e20b9c7ec.ipa</string>
</dict>
<dict>
<key>kind</key>
<string>display-image</string>
<key>needs-shine</key>
<true/>
<key>url</key>
<string>http://www.apicloud.com/icon/41/c8/41c89baa79218ecb7a2fbdf474af8f0f.57x57.png</string>
</dict>
<dict>
<key>kind</key>
<string>full-size-image</string>
<key>needs-shine</key>
<true/>
<key>url</key>
<string>http://www.apicloud.com/icon/41/c8/41c89baa79218ecb7a2fbdf474af8f0f.57x57.png</string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>com.ztesoft.gx.ZteIosProjZqGx-ios8</string>
<key>bundle-version</key>
<string>1.0.12</string>
<key>kind</key>
<string>software</string>
<key>subtitle</key>
<string>易运营</string>
<key>title</key>
<string>易运营</string>
</dict>
</dict>
</array>
</dict>
</plist>